<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%date{"yyyy-MM-dd'T'HH:mm:ss.SSSZ"} %highlight(%-5level) [%thread] %logger{35}.%M:%line - %msg %n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="org.apache.kafka" level="WARN"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover LOG_PATH 可以在启动命令参数改变 logging.path=/data/logs -->
            <FileNamePattern>${LOG_PATH:-/data/logs}/iot-soft-gateway.%d{yyyy-MM-dd}.%i.log.zip</FileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
              class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>500MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>7</maxHistory>
        </rollingPolicy>

        <encoder>
            <Pattern>%date{"yyyy-MM-dd'T'HH:mm:ss.SSSZ"} %-5level [%thread] %logger{35}.%M:%line - %msg %n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <springProfile name="production">
        <root>
            <level value="INFO"/>
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>

    <springProfile name="!production">
        <logger name="iot.cloud.os" level="DEBUG" />
        <root>
            <level value="INFO"/>
            <appender-ref ref="FILE"/>
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

</configuration>

